# Shared
NODE_ENV=development

# Nakama
NAKAMA_SERVER_KEY=defaultkey
NAKAMA_HTTP_PORT=7350
NAKAMA_GRPC_PORT=7349
NAKAMA_DATABASE_ADDRESS=postgres:5432

# PostgreSQL
POSTGRES_DB=nakama
POSTGRES_USER=nakama
POSTGRES_PASSWORD=nakama-dev-password

# GCP Deployment
GCP_PROJECT_ID=your-project-id
GCP_ARTIFACT_REPOSITORY=us-central1-docker.pkg.dev/your-project-id/nakama/nakama-server
